NEXT_PUBLIC_SANITY_PROJECT_ID="key-goes-here"
NEXT_PUBLIC_SANITY_DATASET="key-goes-here"
NEXT_PUBLIC_SITE_URL="key-goes-here"
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="key-goes-here"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="key-goes-here"